body {
    margin: 0;
    font-family: Arial, sans-serif;
    width: auto;
  }
  
  header {
    display: flex;
    background-color: #333;
    color: #fff;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;      
  }

  img {
    height: 90px;
    margin-right: 0;
  }

  nav {
      
  }
  nav ul li {
    display: inline;
  }
  
  .txt-shadow {
    color: #fff;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
}

  nav ul li a {
    text-decoration: none;
    color: #fff;
  }